# folders
DeepSurv/
deepsurvTorch/
archive/
__pycache__/

# saved models
weight_checkpoint_*
.db
*.pkl

# scripts
*.sh

# data
data/2024-08-08/
data/2024-08-15/
data/082924/
GDCdata/
# *maf_generated.csv
simulation/batch_effect/results/
!simulation/batch_effect/results/organized/
data/with_without_batch_maf/
simulate_survival*.csv
MSKpair_*.csv
!MSKpair_miRNA_names.csv
!MSKpair_MXF_merge.csv
!MSKpair_PMFH_merge.csv