# folders
archive/
__pycache__/
.vscode/
logs/
jobs/
results/

# saved models
weight_checkpoint_*
*.db
*.pkl
*.log

# scripts
*.sh
*.out
slurm-temp.log

# data
raw-data/
data/
models/
!beta0.csv
!augmentation_miRNA_names_538.csv